@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
    list-style-type: none;
}

body {
    background-image: url(./assets/background-img.png);
    background-size: cover;
    z-index: 1;
}

header {
    border-bottom: 1px solid #8080802a;
    background-color: #FFD325;
    box-shadow: 0px 3px 2px rgba(128, 128, 128, 0.432);
}

.header-top {
    display: flex;
    flex-flow: row wrap;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 85px;
    padding: 0px 30px;
    
}

.logo img {
    width: 70px;
    height: 70px;
    cursor: pointer;
}

.menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    gap: 5px;
}

.menu a {
    text-decoration: none;
    color: black;
    font-size: 20px;
    padding: 10px 30px;
    font-weight: 600;
}

.menu a:hover {
    color: #ffffff;
    border-bottom: 2px solid #0000002d;
    border-top: 2px solid #0000000e;
    border-right: 2px solid #0000001a;
    border-radius: 20px;
    transition: all 0.25s ease;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ffeca2fb; 
    z-index: 2;
}

.hero {
    display: flex;
    align-items: center;
    justify-content: space-around;
    max-width: 1200px;
    padding: 70px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.445);
}

.hero-left-info {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
}

.hero-left-info h1 {
    background-image: linear-gradient(to top, #FFD325, #000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 800;
    font-size: 36px;
    width: 80%;
}

.hero-left-info p{
    font-size: 18px;
    color: #4b4b4b;
    width: 85%;
    font-weight: 400;
}

.hero-left-info p > span {
    font-weight: 600;
    color: #50420d;
}

.hero-buttons {
    display: flex;
    align-items: center;
    gap: 20px;
}

.butt-01 {
    border: none;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 600;
    background-color: #50420d;
    cursor: pointer;
    color: #FFECA2;
    transition: 0.3s all ease-in;
}

.butt-01:hover {
    background-color: #7a6415af;
    color: #ffda47;
    transition: 0.3s all ease-out;
}

.butt-02 {
    border: 2px solid #50420d;
    border-radius: 20px;
    padding: 5px 20px;
    font-size: 16px;
    font-weight: 600;
    background: none;
    cursor: pointer;
    color: #50420d;
    transition: 0.3s all ease-in;
}

.butt-02:hover {
    color: #bd9400;
    background-color: #ffe477c9;
    border: 2px solid #bd9400;
    transition: 0.3s all ease-out;
}

.hero img {
    width: 500px;
    border-radius: 20px 0 20px 0;
    box-shadow: 30px 32px 4px #50420d2a;
    border: 2px solid #50420d8a;
    cursor: pointer;
    transition: 0.3s all ease-in;
}

.hero img:hover {
    width: 505px;
    opacity: 95%;
    border: 2px solid #e7bc22e7;
    transition: 0.3s all ease-out;
}

.info-mid {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 40px;
    padding: 70px;
    margin-top: 40px;
    max-width: 1200px;
    border-bottom: 1px solid #4b4b4b3f;
}

.info-mid h3 {
    background-image: linear-gradient(to bottom, #FFD325, #000);
    background-clip: text;
    -webkit-background-clip: text;
    color: transparent;
    font-weight: 800;
    font-size: 32px;
}

.info-mid p {
    color: #4b4b4b;
    font-weight: 400;
    font-size: 20px;
    align-self: center;
    width: 80%;
    text-align: center;
}

.info-mid p > span {
    color: #50420d;
    font-weight: 600;
}

.info-mid h4 {
    font-weight: 800;
    color: #50420d;
    font-size: 24px;
}
.mid-items {
    display: flex;
    width: 60%;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-top: 30px;
}

.items-icons {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 20px;
    border: 2px solid #50420d3b;
    background-color: #ffd32541;
    width: 150px;
    height: 150px;
    gap: 5px;
    transition: all 0.3s ease-in;
}

.items-icons:hover {
    height: 160px;
    border: 2px solid #d8b22ad3;
    transition: 0.3s all ease-out;
    background-color: #fac80094;
}

.items-icons p{
    color: #50420d;
    font-weight: 800;
    font-size: 13px;
    text-align: center;
}

.items-icons img {
    width: 60px;
    align-self: center;
    opacity: 80%;
}