@keyframes fade {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slide-up {
    from{
        transform: translateY(100px);
    }
    to{
        transform: translateY(0px);
    }
}

@keyframes slide-r {
    from{
        transform: translateX(100px);
    }
    to{
        transform: translateX(0px);
    }
}

@keyframes slide-down {
    from{
        transform: translateY(-100px);
    }
    to{
        transform: translateY(0px);
    }
}


.hero-left-info h1{
    animation: fade 1s ease-in, slide-up 1s ease-out;
}

.hero-left-info p {
    animation: fade 0.8s ease forwards, slide-up 1s ease-in;
}

.butt-01 {
    animation: fade 0.8s ease-out forwards, slide-up 0.8s ease-in;
}

.butt-02 {
    animation: fade 0.8s ease-out forwards, slide-up 0.9s ease-in;
 
}
.hero img {
    animation: fade 1s ease, slide-r 1s ease-in-out;
    
}

.info-mid {
    animation: fade 0.9s ease-in forwards, slide-up 1s ease-out;
}

.cards-sect h4 {
    animation: fade 0.8s ease forwards, slide-down 1s ease;
}

.cards-p{ 
    animation: fade 0.9s ease-in, slide-down 1s ease-out;
}

.items-icons:nth-child(1) {
    animation: fade 0.9s ease-out forwards, slide-r 1s ease;
}

.items-icons:nth-child(2) {
    animation: fade 0.8s ease-out forwards, slide-r 0.9s ease;
}

.items-icons:nth-child(3) {
    animation: fade 0.7s ease-out forwards, slide-r 0.8s ease;
}

.contact-us h3 {
    animation: fade 1s ease forwards, slide-down 0.8s ease-in;
}

.contact-people {
    animation: 0.8s fade ease-out forwards, slide-r 0.9s ease-in-out;
}

.socials-icons ul li:nth-child(1){
    animation: 0.8s fade forwards ease-in, slide-up 0.7s;
}

.socials-icons ul li:nth-child(2){
    animation: 0.8s fade forwards ease-in, slide-up 0.8s;
}

.socials-icons ul li:nth-child(3){
    animation: 0.8s fade forwards ease-in, slide-up 0.9s;
}


.apicultor {
    animation: fade 0.9s ease-in forwards, slide-up 0.8s ease-out;
}
